body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #1F2937;
  padding: 0px 200px 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.header-link {
  color: #E5E7EB;
  font-size: 18px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.hero-main-text {
  flex: 1 0 50%;
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 800;
}

.hero-sub-text {
  color: #E5E7EB;
  font-size: 18px;
}

#hero-btn {
  color: white;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  width: 6rem;
  height: 1.75rem;
  margin-top: .55rem;
}

.hero-image {
  flex: 1 0 50%;
  width: 300px;
  color: #E5E7EB;
  font-size: 18px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  padding: 36px 0;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin: 0 0 36px 0;
}

.info-section {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 60px;
}

.image-with-text{
  /* display: flex; */
  /* flex-direction: column; */
  width: 154px;
  color: #1F2937;
}

.info-image {
  border: 3px solid #3882F6;
  width: 148px;
  height: 148px;
  border-radius: 10%;
  /* margin: auto; */
}




