body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  background-color: #1F2937;
  padding: 0px 200px 50px 200px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header-logo {
  color: #F9FAF8;
  font-size: 24px;
}

.header-links {
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.header-link {
  color: #E5E7EB;
  font-size: 18px;
}

.navigation-section {
  display: flex;
  justify-content: space-between;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.hero-main-text {
  flex: 1 0 50%;
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 700;
}

.hero-sub-text {
  color: #E5E7EB;
  font-size: 18px;
}

#hero-btn {
  color: white;
  background-color: #3882F6;
  border: none;
  border-radius: 5px;
  width: 6rem;
  height: 1.75rem;
  margin-top: .55rem;
}

.hero-image {
  flex: 1 0 50%;
  width: 300px;
  color: #E5E7EB;
  font-size: 18px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
}

.info-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 800;
  text-align: center;
  margin: 0 0 36px 0;
}

.info-section {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 60px;
  margin-bottom: 6rem;
}

.image-with-text{
  width: 154px;
  color: #1F2937;
}

.info-image {
  border: 3px solid #3882F6;
  width: 148px;
  height: 148px;
  border-radius: 10%;
}

.quote-section {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 6% 26.5%;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  margin: 0;
}

.quote-signature {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  align-self: flex-end;
  margin-right: 1rem;
}

.cta-section {
  margin: auto;
  padding: 9rem 0;
}

.cta-container {
  display: flex;
  justify-content: center;
  gap: 8rem;
  width: 62rem;
  border-radius: .5rem;
  height: 10rem;
  background-color: #3882F6;
  align-items: center;
}

.cta-text p {
  color: white;
  margin: 0;  
}

.cta-text p:first-of-type {
  font-size: 20px;
  font-weight: bold;
}

.cta-text p:last-of-type {
  font-size: 1rem;
}

.cta-btn {
  height: 2.5rem;
  width: 6rem;
  border-radius: .5rem;
  border: 1px solid white;
  background-color: #3882F6;
  color: white;
}




